@import "~@angular/material/theming";

@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber);
// $warn:  mat-palette($mat-cyan, A200);

$light-theme: mat-light-theme($primary, $accent);
$dark-theme: mat-dark-theme($primary, $accent);

.deep-purple-amber-light-theme {
    @include angular-material-theme($light-theme);
}

.deep-purple-amber-dark-theme {
    @include angular-material-theme($dark-theme);
}
