@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-lime, A700);
// $warn:  mat-palette($mat-cyan, A200);

$light-theme: mat-light-theme($primary, $accent);
$dark-theme: mat-dark-theme($primary, $accent);

.indigo-light-theme {
    @include angular-material-theme($light-theme);
}

.indigo-dark-theme {
    @include angular-material-theme($dark-theme);
}
